# 忽略bochs重新编译的脚本
config/

# 忽略VSCode的调试配置文件 不影响各自的vscode设置
.vscode/

# build artifacts
*.img
*.bin
*.dbg
*.map
*.o
lib/orangescrt.a

# 打包文件
*.tar
*.gz
*.tgz
*.lock

# command 目录下的可执行文件（无后缀的 ELF）
command/clear
command/echo
command/edit
command/kill
command/ls
command/ps
command/pwd
command/rm
command/touch
command/ret2text
command/ret2lib
command/ret2shellcode
command/cat
command/pstackof
command/inject
